/* menu-button */

.wrapper {
  font-size: var(--font-size-subheading);
  text-transform: uppercase;
  color: inherit;

  position: relative;
  padding: var(--padding-thin) var(--padding-normal);
  min-height: var(--menu-button-height, 30px);
  min-width: var(--menu-button-width);
  box-sizing: border-box;
  cursor: pointer;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  transition: transform var(--transition-duration) var(--transition-timing-function);
}

.wrapper:hover .button-text {
  color: var(--menu-button-border-color);
}

.wrapper:global(.pressed) {
  transform: scale(0.9);
}

.parallelogram {
  --menu-button-skew-angle: 10deg;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 1px solid var(--menu-button-border-color);
  opacity: 0;
  -webkit-transform: skew(var(--menu-button-skew-angle)) scaleX(0);
  -moz-transform: skew(var(--menu-button-skew-angle)) scaleX(0);
  -o-transform: skew(var(--menu-button-skew-angle)) scaleX(0);
  transform: skew(var(--menu-button-skew-angle)) scaleX(0);

  transition-property: transform, opacity;
  transition: var(--transition-duration) var(--transition-timing-function);
}

.wrapper:hover .parallelogram {
  opacity: 1;
  -webkit-transform: skew(var(--menu-button-skew-angle)) scaleX(1);
  -moz-transform: skew(var(--menu-button-skew-angle)) scaleX(1);
  -o-transform: skew(var(--menu-button-skew-angle)) scaleX(1);
  transform: skew(var(--menu-button-skew-angle)) scaleX(1);
}

.button-text {
  z-index: 1;

  transition-property: color;
  transition: var(--transition-duration) var(--transition-timing-function);
}

.selection-dot {
  font-size: var(--font-size-heading);
  position: absolute;
  bottom: -15px;
  margin: 0 auto;
  opacity: 0;
  transform: translateY(10px);

  transition-property: opacity, transform, color;
  transition: var(--transition-duration) var(--transition-timing-function);
}

.wrapper:global(.selected) .selection-dot {
  opacity: 1;
  transform: translateY(0);
}

.wrapper:global(.selected):hover .selection-dot {
  opacity: 1;
  transform: translateY(5px);
}
