/* menu.css */

.wrapper {
}

.menu-button {
  margin: 0 var(--margin-thin);
}

.menu-button:global(.button-dark),
.menu-button:global(.button-light) {
  --menu-button-border-color: var(--light-strong-alpha);
  --menu-button-hover-color: var(--dark-strong-alpha);
}
.menu-button:global(.button-red) {
  --menu-button-border-color: var(--red-theme-dark-color);
}
.menu-button:global(.button-blue) {
  --menu-button-border-color: var(--indigo-theme-primary-color);
}
:global(body.light) .menu-button:global(.button-light),
:global(body.light) .menu-button:global(.button-dark) {
  --menu-button-border-color: var(--dark-strong-alpha);
}
