/* toast.css */

.wrapper {
  position: fixed;
  left: var(--margin-thick);
  bottom: var(--margin-thick);
  max-width: var(--toast-max-width, 500px);
  min-height: var(--toast-height, 25px);
  padding: var(--padding-normal);
  background: var(--app-background);
  border: 1px solid currentColor;
  transform: translate3d(0, 100px, 0);
  opacity: 0;

  transition: opacity var(--transition-duration) var(--transition-timing-function), transform var(--transition-duration) var(--transition-timing-function);
}

.wrapper:global(.active) {
  transform: translate3d(0, 0, 0);
  opacity: 1;
}

.text {
  font-size: var(--font-size-body);
  font-weight: var(--font-weight-bold);
}

.app-button {
  margin: 0 var(--margin-thin);
}

.app-button:first-of-type {
  margin-left: var(--margin-normal);
}
