/* portfolio.css */

.wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}

.widthWrapper {
  height: 100%;
  width: 100%;
  max-width: var(--page-max-width);
  margin: 0 auto;
}

.header {
  position: fixed;
  top: 0;
  margin: 0 auto;
}

.scroll-to-top-wrapper {
  position: fixed;
  bottom: 20px;
  right: calc(1.5 * var(--margin-thick));
  z-index: 1;

  transition: transform var(--transition-duration) var(--transition-timing-function);
}

.scroll-to-top-wrapper:global(.hidden) {
  transform: translateY(100px);
}

.scroll-to-top-icon {
  fill: currentColor;
}
