$window-title-bar-height: 30px;
$window-footer-bar-height: 30px;

@mixin view($type: normal) {
  @if $type == normal {
    min-height: 100%;
  }

  @else if $type == contained {
    height: 100%;
  }

  box-sizing: border-box;
}

@mixin theme($theme) {
  body.#{$theme} #{if(&, "&", "")} {
    @content;
  }
}

@mixin decomposite() {
  transform: translateZ(0) scale(1.0, 1.0);
  backface-visibility: hidden;
}
