@mixin section-header-bar {
  @include flexbox;
  @include flex-direction(row);
  @include px(md);
  @include py(sm);

  height: 30px;
  box-sizing: border-box;
  font-style: italic;
  border-bottom: 1px solid $transparent;

  @include theme(dark) {
    border-bottom-color: $dark-window-border-color;
  }

  @include theme(light) {
    border-bottom-color: $light-window-border-color;
  }

  @include theme(red) {
    border-bottom-color: $red-window-border-color;
  }

  @include theme(blue) {
    border-bottom-color: $blue-window-border-color;
  }

  & span {
    opacity: 0.6;
  }
}
