/* styles.css */

* {
  user-select: none;
}

input {
  user-select: text;
}

html,
body {
  width: 100%;
}

body {
  overflow-y: hidden;
  margin: 0;

  /*border-radius: 5px;*/
  color: var(--app-color);
  font-size: var(--app-font-size);
  font-family:  var(--app-font-family);

  transition-property: background-color;
  transition: var(--transition-duration) var(--transition-timing-function);
}

/* make sure this is in effect pronto */
body[unresolved] {
  display: none;
}

body.dark {
  background: var(--dark-strong-alpha);
  color: var(--light-medium-alpha);
}

body.light {
  background: var(--app-background);
  color: var(--dark-medium-alpha);
}

body.red {
  background: var(--red-theme-dark-color);
  color: var(--light-strong-alpha);
}

body.blue {
  background: var(--indigo-theme-primary-color);
  color: var(--light-medium-alpha);
}

#mount {
  position: relative;
  height: 100%;
}
