/* floating-button.css */

.wrapper {
  height: var(--floating-button-size, 40px);
  width: var(--floating-button-size, 40px);
  border: 1px solid var(--floating-button-color, currentColor);
  border-radius: 50%;
  background: var(--app-background);
  cursor: pointer;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  transition: transform var(--transition-duration) var(--transition-timing-function), background var(--transition-duration) var(--transition-timing-function);
}

.wrapper:hover {
  border-color: var(--floating-button-hover-color, currentColor);
  transform: scale(1.1);
}

.wrapper:global(.pressed) {
  transform: scale(0.9);
}
