/* skill-tag.css */

.wrapper {
  position: relative;
  box-sizing: border-box;
  min-height: var(--skill-tag-height, 30px);
  padding: var(--padding-normal);
  margin: var(--margin-thin);
}

.parallelogram {
  --menu-button-skew-angle: 10deg;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 1px solid var(--skill-tag-border-color, currentColor);
  -webkit-transform: skew(var(--menu-button-skew-angle));
  -moz-transform: skew(var(--menu-button-skew-angle));
  -o-transform: skew(var(--menu-button-skew-angle));
  transform: skew(var(--menu-button-skew-angle));
}
