@import './reset';
@import './helpers';

// --- FlexboxGrid - SASS ---
@import './grid';

.row.no-gap {
  margin: 0;
}

.row.no-gap > div[class^="col-"] {
  padding: 0;
}

// Flex alignment text reset
.center-xs {
  text-align: initial;
}

// --- Core ---
@import './spacing';
@import './variables';
@import './styles';
