@import './variables';

@function sizeValue($key, $value, $mod) {
  @return if($key == 'none', 0, $value + if($mod == 'none', '', $sizeUnit));
}

@each $size in $sizes {
  $sizeKey: nth($size, 1);
  $sizeValue: nth($size, 2);
  $sizeMod: nth($size, 3);

  .#{$marginKey}#{$secondarySeparator}#{$sizeKey} {
    margin: sizeValue($sizeKey, $sizeValue, $sizeMod);
  }
  .#{$paddingKey}#{$secondarySeparator}#{$sizeKey} {
    padding: sizeValue($sizeKey, $sizeValue, $sizeMod);
  }
  @each $position in $positions {
    $posKey: nth($position, 1);
    $posValue: nth($position, 2);
    .#{$marginKey}#{$primarySeparator}#{$posKey}#{$secondarySeparator}#{$sizeKey} {
      margin-#{$posValue}: sizeValue($sizeKey, $sizeValue, $sizeMod);
    }
    .#{$paddingKey}#{$primarySeparator}#{$posKey}#{$secondarySeparator}#{$sizeKey} {
      padding-#{$posValue}: sizeValue($sizeKey, $sizeValue, $sizeMod);
    }
  }
}

@function get-size($label, $multiplier: 1) {
  $md: get-list($sizes, 'sm');

  @return $multiplier * nth($md, 2) + $sizeUnit;
}
