/* styles.css */
@import './variables';

// Modules
@import './modules/modal';

* {
  -webkit-user-select: none;  -moz-user-select: none;  -ms-user-select: none;  user-select: none;
}

input {
  user-select: text;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  /*border-radius: 5px;*/
  color: $app-color;
  font-size: $app-font-size;
  font-family: $app-font-family-mono;

  -webkit-tap-highlight-color: transparent;

  transition: all $transition;
  transition-property: background-color;
}

/* make sure this is in effect pronto */
body[unresolved] {
  display: none;
}

@include theme(dark) {
  color: $dark-theme-color;
  background: $dark-theme-background;
}

@include theme(light) {
  color: $light-theme-color;
  background: $light-theme-background;
}

@include theme(red) {
  color: $red-theme-color;
  background: $red-theme-background;
}

@include theme(blue) {
  color: $blue-theme-color;
  background: $blue-theme-background;
}

/* Scrollbars */

::-webkit-scrollbar {
  width: $scrollbar-thickness;
}
::-webkit-scrollbar:horizontal {
  height: $scrollbar-thickness;
}

::-webkit-scrollbar-track {
  background: transparent;

  transition: background 500ms ease-in-out;
}

::-webkit-scrollbar-track:hover {
  -webkit-border-radius: 1px;
  border-radius: 1px;
  background: rgba(255,255,255,.07);
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 1px;
  border-radius: 1px;
  background: $dark-semiweak-alpha;
}

::-webkit-scrollbar-thumb:hover {
  background: $light-weak-alpha;
}

::-webkit-scrollbar-thumb:window-inactive {
  background: $dark-weak-alpha;
}

body.light ::-webkit-scrollbar-thumb:hover {
  background: $dark-normal-alpha;
}

body.light ::-webkit-scrollbar-track:hover {
  background: rgba(0,0,0,.07);
}

