/* styles.css */
@import './variables';

* {
  -webkit-user-select: none;  -moz-user-select: none;  -ms-user-select: none;  user-select: none;
}

input {
  user-select: text;
}

html,
body {
  width: 100%;
}

body {
  overflow-y: hidden;
  margin: 0;

  /*border-radius: 5px;*/
  color: $app-color;
  font-size: $app-font-size;
  font-family: $app-font-family-mono;

  -webkit-tap-highlight-color: transparent;

  transition: background-color $transition-duration $transition-timing-function;
}

/* make sure this is in effect pronto */
body[unresolved] {
  display: none;
}

body {
  background: $dark-strong;
  color: $light-strong-alpha;
}

body.light {
  color: $dark-strong-alpha;
}

body:not(.light) {
  // Find some way to do this dynamically
  background: $dark-strong;
}

body.red {
  // Find some way to do this dynamically
  background: rgb(48, 27, 27);
}

body.blue {
  // Find some way to do this dynamically
  background: rgb(36, 27, 48);
}

h1 {
  font-size: $font-size-title;
  margin-bottom: $margin-normal;
  font-weight: $font-weight-bold;
  color: inherit;
}

p {
  padding: $padding-thin 0;
}

/* React */

#mount {
  position: relative;
  height: 100%;
}

/* Scrollbars */

::-webkit-scrollbar {
  width: $scrollbar-thickness;
}
::-webkit-scrollbar:horizontal {
  height: $scrollbar-thickness;
}

::-webkit-scrollbar-track {
  background: transparent;

  transition: background 500ms ease-in-out;
}

::-webkit-scrollbar-track:hover {
  -webkit-border-radius: 1px;
  border-radius: 1px;
  background: rgba(255,255,255,.07);
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 1px;
  border-radius: 1px;
  background: $dark-semiweak-alpha;
}

::-webkit-scrollbar-thumb:hover {
  background: $light-weak-alpha;
}

::-webkit-scrollbar-thumb:window-inactive {
  background: $dark-weak-alpha;
}

body.light ::-webkit-scrollbar-thumb:hover {
  background: $dark-normal-alpha;
}

body.light ::-webkit-scrollbar-track:hover {
  background: rgba(0,0,0,.07);
}

