/* app-variables.styl */
$primary-color:        #1976D2;
$primary-color-dark:   #0D47A1;
$primary-color-light:  #BBDEFB;
$accent-color:         #FFC107;

$light-strong-alpha:   rgba(255,255,255,1);
$light-medium-alpha:   rgba(255,255,255,0.7);
$light-normal-alpha:   rgba(255,255,255,0.38);
$light-semiweak-alpha: rgba(255,255,255,0.2);
$light-weak-alpha:     rgba(255,255,255,0.1);
$light-strong:         #fff;
$light-medium:         #b3b3b3;
$light-normal:         #616161;
$light-weak:           #1a1a1a;

$dark-strong-alpha:    rgba(0,0,0,0.87);
$dark-medium-alpha:    rgba(0,0,0,0.54);
$dark-normal-alpha:    rgba(0,0,0,0.38);
$dark-semiweak-alpha:  rgba(0,0,0,0.2);
$dark-weak-alpha:      rgba(0,0,0,0.1);
$dark-strong:          #212121;
$dark-medium:          #757575;
$dark-normal:          #9e9e9e;
$dark-semiweak:        #cccccc;
$dark-weak:            #e6e6e6;

$transparent:          rgba(0, 0, 0, 0);

/**
  * Theme Colors
  */
$indigo-theme-dark-color:       #303F9F;
$indigo-theme-primary-color:    #3F51B5;
$indigo-theme-light-color:      #E8EAF6;

$blue-gray-theme-dark-color:    #37474F;
$blue-gray-theme-primary-color: #607D8B;
$blue-gray-theme-light-color:   #ECEFF1;

$blue-theme-color:              #1976D2;
$blue-theme-color-dark:         #0D47A1;
$blue-theme-color-light:        #BBDEFB;

$gray-theme-dark-color:         #424242;
$gray-theme-primary-color:      #9E9E9E;
$gray-theme-light-color:        #FAFAFA;

$red-theme-dark-color:          #C62828;
$red-theme-primary-color:       #E53935;
$red-theme-light-color:         #FFEBEE;

$amber-theme-dark-color:        #FF8F00;
$amber-theme-primary-color:     #FFAA00;
$amber-theme-light-color:       #FFF8E1;

$green-theme-dark-color:        #2E7D32;
$green-theme-primary-color:     #4CAF50;
$green-theme-light-color:       #E8F5E9;

$dark-gray-theme-dark-color:    #212121;
$dark-gray-theme-primary-color: #424242;
$dark-gray-theme-light-color:   #9E9E9E;

/**
  * Custom Colors
  * Color variables outside of the palette
  */

$primary-text-color: #000000;


/* App Background */
$app-primary-background-color: #F2F2F2;

/* Lists */
$divider-color: rgba(0, 0, 0, 0.12);
$divider-color-opaque: rgb(237, 237, 237);

/* === Sizes === */

/* Size Definitions */
$font-size-base: 14px;

$abs-font-size-display4:     112px;
$abs-font-size-display3:     56px;
$abs-font-size-display2:     45px;
$abs-font-size-display1:     34px;
$abs-font-size-headline:     24px;
$abs-font-size-title:        20px;
$abs-font-size-heading:      18px;
$abs-font-size-subheading:   15px;
$abs-font-size-body2:        13px;
$abs-font-size-body1:        13px;
$abs-font-size-body:         $abs-font-size-body1;
$abs-font-size-caption:      12px;
$abs-font-size-mini-heading: 12px;
$abs-font-size-note:         10px;
$abs-font-size-button:       13px;

$font-size-scale: 1;

$font-size-display4:     $abs-font-size-display4 * $font-size-scale;
$font-size-display3:     $abs-font-size-display3 * $font-size-scale;
$font-size-display2:     $abs-font-size-display2 * $font-size-scale;
$font-size-display1:     $abs-font-size-display1 * $font-size-scale;
$font-size-headline:     $abs-font-size-headline * $font-size-scale;
$font-size-title:        $abs-font-size-title * $font-size-scale;
$font-size-heading:      $abs-font-size-heading * $font-size-scale;
$font-size-subheading:   $abs-font-size-subheading * $font-size-scale;
$font-size-body2:        $abs-font-size-body2 * $font-size-scale;
$font-size-body1:        $abs-font-size-body1 * $font-size-scale;
$font-size-body:         $abs-font-size-body * $font-size-scale;
$font-size-caption:      $abs-font-size-caption * $font-size-scale;
$font-size-mini-heading: $abs-font-size-mini-heading * $font-size-scale;
$font-size-note:         $abs-font-size-note * $font-size-scale;
$font-size-button:       $abs-font-size-button * $font-size-scale;

$font-weight-thin:         100;
$font-weight-extra-light:  200;
$font-weight-light:        300;
$font-weight-regular:      400;
$font-weight-medium:       500;
$font-weight-semi-bold:    600;
$font-weight-bold:         700;
$font-weight-extra-bold:   800;
$font-weight-black:        900;

/* === Other Variables === */
$transition-duration: 0.15s;
$transition-timing-function: ease-in-out;
$transition: $transition-duration $transition-timing-function;
$border-radius: 4px;

/* === App Variables === */
$app-font-size: $font-size-body;
$app-font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$app-font-family-mono: 'PT Mono', monospace;
$app-color: $primary-text-color;
$app-background: $app-primary-background-color;

$scrollbar-thickness: 10px;

$sizeUnit: rem;
$marginKey: 'm';
$paddingKey: 'p';
$primarySeparator: '';
$secondarySeparator: '-';

$sizes: (
  ('none', 0, ''),
  ('xxs', 0.125, ''),
  ('xs', 0.25, ''),
  ('sm', 0.5, ''),
  ('md', 1, ''),
  ('lg', 2, ''),
  ('xl', 4, ''),
  ('xxl', 8, ''),
  ('auto', auto, 'none'),
);
$positions: (
  ('t', 'top'),
  ('r', 'right'),
  ('b', 'bottom'),
  ('l', 'left')
);
