/* me-page.css */
.page {
  text-align: center;
}

.headshot {
  height: 150px;
  width: 150px;

  margin-bottom: var(--margin-thick);
}

.skills {
  margin-top: var(--margin-thick);
}

.social-buttons-wrapper {
  padding: var(--padding-thick);
  transform: translateZ(0);
}

.social-buttons-wrapper > a {
  margin: var(--margin-thin);
}

.social-svg {
  fill: currentColor;
}
